body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: clip;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 11px;
    text-align: center;
}

main {
    min-height: 80vh;
    padding: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

#input-section,
#output-section {
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}

#html-output {
    height: 200px;
}

#render-container {
    margin-top: 20px;
}

h1,
h2 {
    margin: 10px 0;
}

#page-title {
    margin-top: 10px;
}

button {
    display: block;
    margin-top: 10px;
}

input[name="checkbox"] {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

#render-container {
    padding: 5px 0;
}
